<ion-view>
    <ion-content class="no-scroll">
      <div class="innerbnr_block">
        <img src="img/crockroach.jpg">
      </div>
      <div class="maincontent pageContent">
        <div>
          <h3 class="headingBorder">Cockroach</h3>
          <div>
            Typically considered a nuisance, cockroach are tiny insects that are known vectors of various diseases harmful to both humans and animals. Normally consumers of nectar, female mosquitoes also feed on the blood of other animals, including humans. Blood feeding is needed for egg production.
            <br>
            <br> If you think that you have a cockroach problem then call in the experts at H pest Control Services by calling +91 9052525294 or you can set up an appointment using our online book now form
          </div>
        </div>
      </div>
    </ion-content>
  </ion-view>
  