<ion-view>
    <ion-content class="no-scroll">
      <div class="innerbnr_block">
        <img src="img/1c57f7548e333148aa84734af2242aaf.jpg">
      </div>
      <div class="maincontent pageContent">
        <div>
          <h3 class="headingBorder">Fruit Flies</h3>
          <div>
            Drosophilidae and Tephritidae are the only two families of flies referred to as “fruit flies”. Common fruit flies found in homes and dwellings in North America and around the world are of the genus Drosophila. They are often found lingering around overripe and rotting fruit. Several “fruit fly” species are closely associated with humans, and therefore referred to as domestic species, which have been transported around the world (unknowingly) by humans. The term “Drosophila’ means dew-loving, but common fruit flies are also referred to as “vinegar flies”, “wine flies”, and “pomace flies”.
            <br>
            <br>If you think that you have a fruit flies problem then call in the experts at Hpests Control Services by calling +91-8801531541 or you can set up an appointment using our online book now form.
          </div>
        </div>
        <div class="dataContainer">
          <div id="contentDescription" ng-repeat="data in fruitFliesData" ng-click="showHeaderContent($index)">
            <div class="dataDescription">
              <p>{{data.header}}
                <i ng-class="data.showContent ? 'fa fa-angle-down' : 'fa fa-angle-right'" aria-hidden="true"></i>
              </p>
            </div>
            <div ng-if="data.showContent" class="contentData">
              <p ng-bind-html="data.content"></p>
            </div>
          </div>
        </div>
      </div>
    </ion-content>
  </ion-view>
  