<ion-view>
    <ion-content class="no-scroll">
      <div class="innerbnr_block">
        <img src="img/a0a23e183a40298fe5ec9911fda76e72.jpg">
      </div>
      <div class="maincontent pageContent">
        <div>
          <h3 class="headingBorder">Mites</h3>
          <div>
            Mites are one of the smallest arthropods found all over the world. They belong to the class Arachnida and are closely related to ticks and spiders. The majority of mites are ectoparasites of other animals; however, some species are known to infest stored food products, while others are plant feeders. Tens of thousands of different types of mites exist worldwide. Though many mite species are beneficial, others can cause skin irritation or affect allergies.
            <br>
            <br> If you think that you have a Mites problem then call in the experts at H pest Control Services by calling +91 9052525294 or you can set up an appointment using our online book now form.
          </div>
        </div>
        <div class="dataContainer">
          <div id="contentDescription" ng-repeat="data in mitesData" ng-click="showHeaderContent($index)">
            <div class="dataDescription">
              <p>{{data.header}}
                <i ng-class="data.showContent ? 'fa fa-angle-down' : 'fa fa-angle-right'" class="fa fa-angle-right" aria-hidden="true"></i>
              </p>
            </div>
            <div ng-if="data.showContent" class="contentData">
              <p ng-bind-html="data.content"></p>
            </div>
          </div>
        </div>
      </div>
    </ion-content>
  </ion-view>
  