/*
Autors:
Jilna NT
Nishant K 
 */

 * {
  font-family:'Open Sans', sans-sarif;
}
.bar.bar-stable {
  background: #000000;
}
.bar.bar-stable ion-icon {
    font-size: 13px;
  }

.bar-stable .button.button-clear {
  border-color: transparent;
  background: none;
  box-shadow: none;
  color: #fff;
  font-size: 17px;
}

.innerbnr_block {
  width: 100%;
  float: left;
  position: relative;
}

.about_page,
.ap_links,
.apq_links {
  padding: 15px;
}

.maincontent {
  width: 100%;
  float: left;
  position: relative;
}

.mainwrapper {
  max-width: 550px;
  min-width: 240px;
  margin: 0px auto;
}

.about_page .txt {
  padding: 0;
  margin: 0;
  font-size: 15px;
  font-family: 'Open Sans', sans-sarif;
  line-height: 20px;
  text-align: justify;
  color: #111;
  font-weight: 300;
}

.slideInLeft {
  visibility: visible;
  animation-delay: 0.1s;
  animation-name: slideInLeft;
}

.ap_links {
  background: #EEEEEE;
}

.ap_left {
  width: 100%;
  float: left;
}

.ap_left li {
  width: 100%;
  float: left;
  padding: 0 40px;
  list-style: none;
  position: relative;
  margin-top: 10px;
}

.ap_left li:before {
  content: url(../img/ap_list.jpg);
  position: absolute;
  top: 0;
  left: 0;
}

.apq_left h2 {
  padding: 20px 30px;
  margin: 0;
  font-size: 30px;
  text-transform: uppercase;
  font-family: 'Open Sans', sans-sarif;
  color: #4B4E53;
  font-weight: 300;
  border-left: 2px solid #4B4E53;
}

img {
  width: 100%;
}

.conact_content {
  width: 100%;
  float: left;
  padding: 0px 15px;
  background: #f1f1f1;
  font-family: 'Open Sans', sans-serif;
  border-bottom: 1px solid #777;
  margin-bottom: 25px;
}

.contact_right,
.contact_right p {
  color: #fff;
  text-decoration: none;
  font-size: 15px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  line-height: 24px;
}

.contact_right {
  width: 100%;
  float: right;
  background: #F7941D;
  padding: 25px;
  text-align: center;
}

.conact_left {
  width: 100%;
  float: left;
  padding: 0 0px;
}

.contactfielddiv {
  float: left;
  width: 100%;
  font-family: 'Open Sans', sans-serif;
}

.fields_two {
  float: left;
  width: 48%;
}

.fields_two_right {
  float: right;
  width: 48%;
}

.contact_right h3 {
  color: #fff;
  font-size: 28px;
  padding-bottom: 5px;
  font-weight: 400;
  border-bottom: 1px solid #eee;
  font-family: 'Open Sans', sans-serif;
}

p {
  margin: 0px;
}

input {
  margin: 0 0 10px
}

.mandatory {
  color: #FF0000;
}

.contactfealds {
  border: 1px solid #cccccc;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
  height: 34px;
  line-height: 20px;
  margin-bottom: 10px;
  padding: 6px 12px !important;
  transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
  width: 100%;
  color: #3F3F3F;
  font-family: 'Open Sans', sans-serif;
}

.formbutton {
  background: #333 none repeat scroll 0 0;
  border: medium none;
  clear: both;
  color: #fff;
  cursor: pointer;
  float: left;
  font-size: 14px;
  font-family: 'Open Sans', sans-serif;
  margin-top: 20px;
  padding: 8px 25px;
  text-decoration: none;
  transition: all .3s;
}

.map {
  float: left;
  height: 300px;
  width: 100%;
  overflow: hidden;
  margin-bottom: 30px;
}

.map iframe {
  width: 100%;
  height: 100%;
  border: 8px solid #606060;
}

.swiper-container-horizontal>.swiper-pagination .swiper-pagination-bullet {
  margin: 0 5px;
  background: #32CD32;
}

.roundPadding {
  padding: 15px
}

.navigationData {
  background: black;
  padding: 8px 0px 8px 0;
  color: white;
  margin-bottom: 10px
}

.navigationP {
  padding-left: 8px;
}

#sidenav ion-item[submenu-item] {
  padding-left: 38px;
  padding-bottom: 0px;
  padding-top: 10px;
  border-color: #1b1c1c;

}


#sidenav ion-item {
  background-color: #1b1c1c;
  color: white;
  padding: 13px;
  text-transform: uppercase;
  border-color: black;
}
#sideMenu ion-header-bar ion-icon{
  color: white !important;
}

.hpestMenuLogo{
  background-color: white !important;
}

.submenus{
  max-height: 250px;
  overflow-y: scroll;
  overflow-x: hidden;
}

#sidenav i {
  font-size: 16px;
  float: right;
  font-weight: 600;
}

#contentDescription i {
  font-size: 25px;
  float: right;
  font-weight: 600;
}

#sideMenu {
  background-color: black;
}

#sideMenu ion-header-bar {
  background-color: black;
}

.menuHeader {
  width: 80%;
  padding-left: 15px;
}

.no-scroll .scroll-content {
  overflow: hidden;
}

.pageContent {
  padding: 0 15px 15px 15px;
  margin: 0;
  font-size: 15px;
  font-family: 'Open Sans', sans-sarif;
  line-height: 24px;
  color: #111;
  font-weight: 300;
  text-align: justify;
}

.dataContainer {
  padding-top: 15px
}
.AboutUsCardHeader{
  background: #71c040;
  color: white !important;
  padding: 10px 15px 10px 15px;
  font-weight: 600;
}

.dataDescription {
  background: #71c040;
  color: white !important;
  padding: 10px 15px 10px 15px;
  border-radius: 5px;
  margin-bottom: 5px;
  font-weight: 600;
}
.aboutUs{
  padding: 10px 10px 5px 10px;
  text-align: justify;
  font-weight: 400;
  background-color: #efefef;
  font-family: 'Open Sans', sans-sarif;
}
.cardImage{
  float: left;
  width: 49%;
  padding-top: 10px;
  padding-right: 15px;
}

.menuClose{
  width: 71%;
  height: 70%;
}

.padding-top-5{
  padding-top: 5px;
}

.contentData {
  padding: 0 10px 5px 10px;
  border-left: 0.1px outset dimgrey;
  border-right: 0.1px outset dimgrey;
  text-align: justify;
  font-weight: 400;
}

.angle-arrow {
  margin-top: -25px;
  padding-right: 10px;
  float: right;
  font-size: 25px;
}

.sliderPadding {
  padding-right: 20px;
  padding-left: 20px;
  padding-bottom: 20px;
}

#bottomSlider .swiper-container-horizontal>.swiper-pagination .swiper-pagination-bullet {
  margin: 0 5px;
  background: black;
  float: right;

}

.swiper-container-horizontal > .swiper-pagination {
  bottom: 20px;
  left: 0;
  width: 100%;
}

.landingPagebuttonPosition {
  top: -25px;
  position: relative;
  text-align: center;
  z-index: 10;
}

.centerHeading {
  text-align: center;
  border-bottom: 1px solid black;
  margin: 0 50px 0 50px;
  padding-bottom: 10px;
}

.bottom-left {
  position: absolute;
  bottom: 8px;
  left: 30px;
  background: black;
  color: white;
}

.image-container {
  left: 0;
  position:absolute;
  text-align:center;
  top: 30px;
  width: 100%;
  font-size:  16px;
  font-weight: 600;
  color: #71c040;
}

.swiper-slide img {
  text-align: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  max-height: 100%;
}

/* .slideInUp {
  visibility: visible;
  animation-name: slideInUp;
} */

.tableHeader {
  background-color: #71c040;
  color: #FFFFFF;
  font-weight: 600;
}

.headingBorder {
  border-bottom: 1px solid #E0E0E0;
  padding-bottom: 8px;
}

.apq_left h3 {
  padding-top: 10px


.fadeInLeft {
  visibility: visible;
  animation-name: fadeInLeft;
}

.slideInRight {
  visibility: visible;
  animation-name: slideInRight;
}

.fadeInRight {
  visibility: visible;
  animation-name: fadeInRight;
}

.slideInLeft {
  visibility: visible;
  animation-name: slideInLeft;
}

.menuHeader {
  width: 80%;
  padding-left: 15px;
}

.viewJob {
  color: #ff0000;
}

.tableWidth {
  width: 100%;
  text-align: center;
}

.overViewContent table {
  width: 100%;
  border: 1px solid #CFCFCF
}

.overViewContent .jobOverviewLeft {
  background-color: #71c040;
  color: #fff;
  padding: 7px 3px 7px 10px;
  font-size: 16px;
  width: 25%;
  border-bottom: 1px solid #ccc;
}

.overViewContent .jobOverviewRight {
  background-color: #F8F8F8;
  color: #4b4b4b;
  font-size: 14px;
  padding: 7px 3px 7px 10px;
  border-bottom: 1px solid #ccc;
  width: 75%;
}

.applicationForm {
  padding-top: 20px;
}

.applicationLabel {
  padding-top: 15px;
}

.submit {
  width: 140px !important;
  margin-left: 0px;
  background: #187DCB;
  color: #FFFFFF;
  border: 0px;
  padding: 5px;
  font-size: 16px;
  border-radius: 4px;
}

.alignCenter {
  text-align: center;
}

label span.required:after {
  content: " *";
  color: red;
}

button[disabled] {
  background: lightblue;
}

.scheduleForm {
  background: #111E2F;
  padding: 20px 25px;
  position: relative;
  overflow: hidden;
}
.scheduleTitle{
  color: #fff;
  border-left: 0;
  padding-left: 0;
  font-size: 24px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 550;
  line-height: 36px;
}
.scheduleTitle span {
  color: #7A97B7;
  font-size: 24px;
  font-weight: 400;
}
}

.bookButton {
  background-color: #32CD32;
  border-radius: 20px;
  width:90%;
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}



/* code to be removed if not working  */
.slide-wrapper {
  height: 175px;
  width: 90%;
  margin: 0 auto;
}

.slider {
  height: 100%;
  overflow: visible;
}

.slider-slide {
	/*border-bottom: 1px solid rgba(0,0,0,0.2);*/
	overflow: hidden;
	color: #000;
  background: #80808012;
	text-align: center;
}
  ion-slide {
		padding-right: 3px;
		padding-left: 3px;
	}
		ion-slide:first-child { padding-left: 0; }
		ion-slide:last-child { padding-right: 0; }

		ion-slide:nth-child(2) { z-index: 1; }

		ion-slide .box {
			position: relative;
			width: 100%;
			height: 100%;
		}

			ion-slide .box h1 {
				position: absolute;
				bottom: -43px;
				margin: 0;
				width: 100%;
				background-color: rgba(255,255,255,0.2);
			}

.slider ion-slide.slider-slide.current .box h1 {
	transition: bottom 450ms ease-out 250ms;
	bottom: 0;
}

.blue {
	background-color: #009FD9;
}
	.blue h1 {
		color: #fff;
	}


.green {
	background-color: #1FB36B;
}
	.green h1 {
		color: #fff;
	}

.red {
	background-color: #E62B25;
}
	.red h1 {
		color: #fff;
	}

.divLeftText{
  width: 50%;
  float: left;
  font-size: 12px;
  text-align: left;
  padding-left: 10px;
  line-height: 16px;
}

.viewmore{
  float:right;color:green
}

.cutomerinfo{
  padding-top:20px;
  height: 100px;
}
.box {
  margin-left:10px;float:left;width:30%;height:80px;background:black;
  text-align: center;
}
.icon{
  font-size: 16px;
  color: white;
  padding: 10px;
}
.number{
  font-weight: bold;
  font-size: 25px;
  color: #32CD32;
}
.msg{
  color: white;
}

.active > div {
  width: 100%;
  padding: 10px;
  font-size: 12px;
  text-align: center;
  background-color:#80808012;
}.active::after {
  display:block;
  position: absolute;
  content: "";
  font-size: 0px; line-height: 0%; width: 0px;
  border-top: 30px solid #80808012;
  border-left: 75px solid #fff;

}

.testimonialAuthor{
padding-left: 85px;
font-weight: bold;
}

/* code ends here */