/*
Autors:
Jilna NT
Nishant K 
 */
.bar.bar-stable {
   background: #32CD32 ;
}

.bar-stable .button.button-clear {
    border-color: transparent;
    background: none;
    box-shadow: none;
    color: #fff;
    font-size: 17px;
}

.innerbnr_block {
    width: 100%;
    float: left;
}

.about_page, .ap_links, .apq_links, .bred_nav, .accdiv {
    padding: 0 15px;
}
.maincontent {
    width: 100%;
    float: left;
    position: relative;
}

.mainwrapper {
    max-width: 550px;
    min-width: 240px;
    margin: 0px auto;
}

.about_page .txt {
    padding: 0;
    margin: 0;
    font-size: 15px;
    font-family: 'Open Sans', sans-sarif;
    line-height: 24px;
    color: #111;
    font-weight: 300;
}

.ap_links {
    background: #EEEEEE;
}

.ap_left {
    width: 100%;
    float: left;
}

.ap_left li {
    width: 100%;
    float: left;
    padding: 0 40px;
    list-style: none;
    position: relative;
    margin-top: 10px;
}

.ap_left li:before {
    content: url(../img/ap_list.jpg);
    position: absolute;
    top: 0;
    left: 0;
}

.apq_left h2 {
    padding: 20px 30px;
    margin:  0;
    font-size: 30px;
    text-transform: uppercase;
    font-family: 'Open Sans', sans-sarif;
    color: #4B4E53;
    font-weight: 300;
    border-left: 2px solid #4B4E53;
}

img {
    width:100%;
}

.conact_content {
    width: 100%;
    float: left;
    padding: 0px 15px;
    background: #f1f1f1;
    font-family: 'Open Sans', sans-serif;
    border-bottom: 1px solid #777;
    margin-bottom: 25px;
}

.conact_right, .conact_right p {
    color: #fff;
    text-decoration: none;
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    line-height: 24px;
}

.conact_right {
    width: 100%;
    float: right;
    background: #F7941D;
    padding: 35px;
    text-align: center;
}

.conact_left {
    width: 100%;
    float: left;
    padding: 0 0px;
}

.contactfielddiv {
    float: left;
    width: 100%;
    font-family: 'Open Sans', sans-serif;
}

.fields_two {
    float: left;
    width: 48%;
}
.fields_two_right {
    float: right;
    width: 48%;
}



.conact_right h2 {
    color: #fff;
    font-size: 34px;
    padding-bottom: 10px;
    margin-bottom: 10px;
    font-weight: 400;
    display: block;
    border-bottom: 1px solid #eee;
    font-family: 'Open Sans', sans-serif;
}

p {
    margin:0px;
}

input {
    margin:0 0 10px
}

.mandatory {
    color: #FF0000;
}

.contactfealds {
    border: 1px solid #cccccc;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
    height: 34px;
    line-height: 20px;
    margin-bottom: 10px;
    padding: 6px 12px !important;
    transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
    width: 100%;
    color: #3F3F3F;
    font-family: 'Open Sans', sans-serif;
}

.formbutton {
    background: #333 none repeat scroll 0 0;
    border: medium none;
    clear: both;
    color: #fff;
    cursor: pointer;
    float: left;
    font-size: 14px;
    font-family: 'Open Sans', sans-serif;
    margin-top: 20px;
    padding: 8px 25px;
    text-decoration: none;
    transition: all .3s;
}

.map {
    float: left;
    height: 300px;
    width: 100%;
    overflow: hidden;
    margin-bottom: 30px;
}

.map iframe {
    width: 100%;
    height: 100%;
    border: 8px solid #606060;
}