<ion-view>
  <ion-content class="no-scroll">
    <div class="innerbnr_block">
      <img src="img/aboutUs.jpg">
    </div>
    <div class="maincontent about_page">
      <div class="txt"> H pest control services is a deemed organization which makes your quality of living at its best with its services.
        We are known for our customer friendly nature.
        <br>
        <br>Professionalism and environmental conscious is our Moto for well being which made us best in industry and also we
        thrive for your healthy and natural living symphony which divides us from others.
        <br>
        <br> We are known for thousands of happy customers which made our organization a symbol of excellence.
      </div>
      <div>
        <div class="AboutUsCardHeader">
          <p>ENVIRONMENTAL FRIENDLY</p>
        </div>
        <div class="aboutUs">
          <div class="cardImage">
            <img src="img/143eca85e6547e7117be63c0b0c6fd5a.jpg">
          </div>
          <div>
            <p>Tailored specifically for your sites, our pest control solutions are highly effective. Though detrimental to
              pests, our products and techniques are safe to use around children and pets. With HPest Control Services, you
              take comfort in the knowledge that not only are you protecting your residents from pests, you’re also ensuring
              they’re safe from harmful chemicals. What’s more, we care about the environment, which means all of our products
              come with the assurance of being environmentally friendly.</p>
          </div>
        </div>
        <div class="padding-top-5">
          <div class="AboutUsCardHeader">
            <p>OUR MISSION</p>
          </div>
          <div class="aboutUs">
            <div class="cardImage">
              <img src="img/a47a8295a1675cc9eb9bcd3f227e7d8e.jpg">
            </div>
            <div>
              <b>We can help you by:</b>
              <p>- Enhancing your living and working environment</p>
              <p>- Reducing health risks</p>
              <p>- Assisting you in protecting your property investments.</p>
              <br>
              <p>We do this by solving your pest management problems in a safe, cost-effective and environmentally conscious
                manner.
              </p>
              <br>
              <p>HPest Control Services is committed to remain to be &nbsp;an industry leader, giving you the very best and
                the latest pest control developments available.
              </p>
            </div>
          </div>
        </div>
      </div>
  </ion-content>
</ion-view>
