<ion-view>
  <ion-content class="no-scroll">
    <div class="innerbnr_block">
      <img src="img/c28b673a27ab573709206ac42975dfdc.jpg">
    </div>
    <div class="maincontent about_page">
      <div class="mainwrapper wow slideInUp" style="visibility: visible; animation-name: slideInUp;">
        <h3>About Us</h3>
        <div class="txt"> H pest control services is a deemed organization which makes your quality of living at its best with its services.
          We are known for our customer friendly nature.
          <br>
          <br>Professionalism and environmental conscious is our Moto for well being which made us best in industry and also
          we thrive for your healthy and natural living symphony which divides us from others.
          <br>
          <br> We are known for thousands of happy customers which made our organization a symbol of excellence.</div>
      </div>
    </div>
    <div class="maincontent ap_links">
      <div class="mainwrapper">
        <div class="ap_left">
          <ul>
            <li class="wow slideInLeft" data-wow-delay=".1s" style="visibility: visible; animation-delay: 0.1s; animation-name: slideInLeft;">
              <h3>PEST MANAGEMENT</h3>
              <p>We not only get rid of your pests; we also give clients an information bulletin on what to expect from our
                treatments.
              </p>
            </li>
            <li class="wow slideInLeft" data-wow-delay=".3s" style="visibility: visible; animation-delay: 0.3s; animation-name: slideInLeft;">
              <h3>PEST CONTROL</h3>
              <p>Work to be reliable and with integrity with all competencies and quality assurance being implemented at all
                times. </p>
            </li>
            <li class="wow slideInLeft" data-wow-delay=".6s" style="visibility: visible; animation-delay: 0.6s; animation-name: slideInLeft;">
              <h3>RIGHT EQUIPMENT</h3>
              <p>Will ensure your safety as well as ours, taking no compromise with the maintaining of our equipment. </p>
            </li>
            <li class="wow slideInLeft" data-wow-delay=".9s" style="visibility: visible; animation-delay: 0.9s; animation-name: slideInLeft;">
              <h3>RIGHT ADVICE</h3>
              <p>To ensure that you have all the information that you need and are given is correct about our products and solutions.</p>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="maincontent apq_links">
      <div class="mainwrapper">
        <ul>

          <li>
            <div class="apq_left wow fadeInLeft" style="visibility: visible; animation-name: fadeInLeft;">
              <h3>ENVIRONMENTAL FRIENDLY
                <span></span>
              </h3>
              <p></p>
              <div style="text-align: justify;">Tailored specifically for your sites, our pest control solutions are highly effective. Though detrimental to
                pests, our products and techniques are safe to use around children and pets. With HPest Control Services,
                you take comfort in the knowledge that not only are you protecting your residents from pests, you’re also
                ensuring they’re safe from harmful chemicals. What’s more, we care about the environment, which means all
                of our products come with the assurance of being environmentally friendly.</div>
              <p></p>
            </div>
            <div class="apq_right wow fadeInRight" style="visibility: visible; animation-name: fadeInRight;">
              <img src="img/143eca85e6547e7117be63c0b0c6fd5a.jpg"> </div>
          </li>
          <li>
            <div class="apq_left wow fadeInLeft" style="visibility: visible; animation-name: fadeInLeft;">
              <h3>OUR MISSION
                <span></span>
              </h3>
              <p></p>
              <div style="text-align: justify;">
                <div>
                  <b>We can help you by:</b>
                </div>
                <div>- Enhancing your living and working environment</div>
                <div>- Reducing health risks</div>
                <div>- Assisting you in protecting your property investments.</div>
                <div>&nbsp;</div>
                <div>We do this by solving your pest management problems in a safe, cost-effective and environmentally conscious
                  manner.
                </div>
                <div>&nbsp;</div>
                <div>HPest Control Services is committed to remain to be &nbsp;an industry leader, giving you the very best and
                  the latest pest control developments available.</div>
              </div>
              <p></p>
            </div>
            <div class="apq_right wow fadeInRight" style="visibility: visible; animation-name: fadeInRight;">
              <img src="img/a47a8295a1675cc9eb9bcd3f227e7d8e.jpg"> </div>
          </li>
        </ul>
      </div>
    </div>
  </ion-content>
</ion-view>
