<ion-view>
  <ion-content class="no-scroll">
    <div class="innerbnr_block">
      <img src="img/ec4a86464e24bc1301aa394b0e3ad6c8.jpg">
    </div>
    <div>
      <form>
        <div class="form-group">
          <div class="input-group full-grup">
            <select class="form-control" name="service" id="area">
              <option value="">AREA</option>
              <option value="2">Commercial Pest Control</option>
              <option value="1">Residential Pest Control</option>
            </select>
            <select class="form-control" name="services" id="services">
              <option value="" selected="selected">SERVICE</option>
              <option value="1">Cockroach Control Service</option>
              <option value="2">Termite Control Service</option>
              <option value="3">Bed Bugs Control Service</option>
              <option value="4">Lizard Control Service</option>
              <option value="5">Mosquito Control Service</option>
              <option value="6">Rodents Control Service</option>
              <option value="8">General Pest Management(Except Termite)</option>
            </select>
            <select class="form-control" name="service_type" id="service_type">
              <option value="">SERVICE TYPE</option>
              <option value="1">Single Service</option>
              <option value="2">6 Months 2 Services</option>
              <option value="3">1 Year 3 Services </option>
              <option value="4">2 Years 6 Services</option>
              <option value="5">3 Years 9 Services</option>
            </select>
            <select class="form-control" name="sqft" id="sqft">
              <option value="">SQFT</option>
              <option value="1">500 SFT</option>
              <option value="2">800 SFT</option>
              <option value="3">950 SFT</option>
              <option value="4">1100 SFT</option>
              <option value="5">1200 SFT</option>
              <option value="6">1350 SFT</option>
              <option value="11">1500 SFT</option>
              <option value="12">1600 SFT</option>
              <option value="13">1800 SFT</option>
              <option value="14">1950 SFT</option>
              <option value="15">2100 SFT</option>
              <option value="16">2300 SFT</option>
              <option value="17">2500 SFT</option>
              <option value="18">3000 SFT</option>
            </select>
          </div>
        </div>
      </form>
    </div>
  </ion-content>
</ion-view>
