<ion-view>
  <ion-content class="no-scroll">
    <div class="innerbnr_block">
      <img src="img/ec4a86464e24bc1301aa394b0e3ad6c8.jpg">
    </div>
    <div id="alertContainer" class="alert alert-warning alert-dismissible">
      <a ng-click="closeAlert()" class="close" data-dismiss="alert" aria-label="close">&times;</a>
      {{data.warningMessage}}
    </div>
    <div class="bookNowContent">
      <div class="form-group bookNowContentBorder" id="bookNowForm">
        <select class="form-control noBackgroundFormControl" ng-model="data.ar" ng-change="getValue()" ng-options="x.text for x in area">
          <option value="">AREA</option>
        </select>
        <select class="form-control noBackgroundFormControl" ng-model="data.serv" ng-change="getValue()" ng-options="y.text for y in service">
          <option value="">SERVICE</option>
        </select>

        <select class="form-control noBackgroundFormControl" ng-model="data.st" ng-change="getValue()" ng-options="x.text for x in serviceType">
          <option value="">SERVICE TYPE</option>
        </select>

        <select class="form-control noBackgroundFormControl" ng-model="data.sqft" ng-change="getValue()" ng-options="x.text for x in squareFeet">
          <option value="">SQFT</option>
        </select>

        <div class="freeInspectionResult" ng-class="noSelection ? 'initialPriceQuote': ''">
          <p ng-bind-html="processObject"></p>
        </div>
        <input type="text" placeholder="Enter Name *" class="form-control noBackgroundFormControl" id="usr1" ng-model="data.name">
        <input type="text" placeholder="Enter Email *" class="form-control noBackgroundFormControl" id="usr2" ng-model="data.email">
        <input type="text" placeholder="Enter Phone Number *" class="form-control noBackgroundFormControl" id="usr3" ng-model="data.phone">
        <textarea class="form-control noBackgroundFormControl" ng-model="data.message" placeholder="Enter Your Message *" rows="5"
          id="comment"></textarea>
        <button class="button qouteButton" ng-disabled="noSelection" ng-click="bookNow()">Book Now</button>
      </div>
    </div>
  </ion-content>
</ion-view>
