<ion-view>
  <ion-content>
    <div class="innerbnr_block">
      <img src="img/ContactUs.jpg"> </div>
    </div>
    <div style="margin:15px;padding:15px;background-color:#f1f1f1">
      <div class="row" style="padding:0px">
        <div class="col col-20" style=" display:block;margin:auto;">
          <img src="img/location.PNG">
        </div>
        <div class="col col-80" style="padding: 15px;background-color:white">
          <p>
            <b>PHONE </b>: <span>+91 9052525294</span>
          </p>
          <p>
            <b> E-MAIL</b> : <span>info@hpests.com, h_pestofficial@outlook.com</span>
          </p>
          <p>
            <b>WEB</b> : <span>wwww.hpests.com</span>
          </p>
        </div>
      </div>
    </div>
    <div class="form-group" style="background-color:#f1f1f1;margin:15px">
      <input type="text" placeholder="Enter Name *" ng-model="data.name" class="form-control  noBorder" id="usr1">
      <input type="text" placeholder="Enter Email *" ng-model="data.email" class="form-control  noBorder" id="usr2">
      <input type="text" placeholder="Enter Phone Number *" ng-model="data.phone" class="form-control  noBorder" id="usr3">
      <textarea class="form-control  noBorder" ng-model="data.message" placeholder="Enter Your Message *" rows="5" id="comment"></textarea>
      <button ng-click="contactusSubmit()" class="button qouteButton">SUBMIT</button>
    </div>
  </ion-content>
</ion-view>
