<ion-view>
  <ion-content>
      <div class="innerbnr_block"> <img src="img/1232e1cbeec8eeddadc327e3ebd97555.jpg"> </div>
    <div class="conact_content">
      <div class="conact_right wow slideInRight" style="visibility: visible; animation-name: slideInRight;">
        <h2>Address</h2>
        <p><br>
          <br>
          <b>Phone</b> : +91 9052525294, 8801531541.<br><b>Mail</b>&nbsp;&nbsp;&nbsp; :&nbsp; h_pestofficial@outlook.com,<br>info@hpests.com<br> </p>
      </div>
	  
	  
      <div class="conact_left wow slideInLeft" style="visibility: visible; animation-name: slideInLeft;">
        <!--contact_form start-->
        <h2>Feedback Form</h2>
        
	

<script language="JavaScript" type="text/JavaScript">
function trim(str){
return str.replace(/^\s*|\s*$/g,"");
}
function Validate(){
	var sName=trim(document.frmContact.txtName.value);
	var sEmail=trim(document.frmContact.txtEmail.value);
	var sPhone=trim(document.frmContact.txtPhone.value);
	var sMsg=document.frmContact.txtComments.value;

	if(sName == ""){
		alert("Please provide your First Name");
		document.frmContact.txtName.focus();
		return false;
	}
	
	if(sEmail == "") {
		alert("Please provide your email");
		document.frmContact.txtEmail.focus();
		return false;
	}
	var regex = /^[a-zA-Z0-9_.]+@([a-zA-Z0-9_.]+\.)+[a-zA-Z0-9.-]{2,3}$/;	 	
	match = regex.test(sEmail)
	if(! match) {
	 alert("Invalid email, please provide valid email");
	 document.frmContact.txtEmail.focus();
	 return false;   
	}
	if(sPhone ==""){
		alert("Please enter Contact No");
		document.frmContact.txtPhone.focus();
		return false;     
	}
	if(sPhone !=""){
		var regex = /^0?[0-9]{10}$/;	 	
		match = regex.test(document.frmContact.txtPhone.value);
		if(! match){
		   alert("Phone Should be a 10 Digit Number");
		   document.frmContact.txtPhone.focus();
		   return false;   
		}
	}
	if(sMsg == ""){
		alert("Please provide your Message");
		document.frmContact.txtComments.focus();
		return false;
	}
	
	return true;
}
</script>			
		
		
		<form method="post" action="" name="frmContact" id="frmContact">
          <div class="contactfielddiv">
            <div class="fields_two">
              <label class="contactname" for="name">
              <p>Your Name <span class="mandatory">*</span></p>
              </label>
              <input type="text" required="" placeholder="Name" value="" class="contactfealds" name="txtName">
            </div>
            <div class="fields_two fields_two_right">
              <label class="contactname" for="email">
              <p>Your Email <span class="mandatory">*</span></p>
              </label>
              <input type="email" required="" placeholder="Email" value="" name="txtEmail" class="contactfealds">
            </div>
          </div>
          <div class="contactfielddiv">
            <label class="contactname" for="phone">
            <p>Phone Number <span class="mandatory">*</span></p>
            </label>
            <input type="text" required="" placeholder="Phone" value="" name="txtPhone" class="contactfealds">
          </div>
          <div class="contactfielddiv">
            <label class="contactname" for="enquiry">
            <p>Your Message <span class="mandatory">*</span></p>
            </label>
            <textarea required="" placeholder="Message" style="height:125px;" class="contactfealds" id="txtComments" name="txtComments"></textarea>
          </div>
          <input type="submit" value="Submit" class="formbutton" name="hid_submit">
        </form>
      </div>
    </div>
    <div class="map wow slideInUp" style="visibility: visible; animation-name: slideInUp;">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3807.20203791284!2d78.49010576433369!3d17.40208915696259!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bcb99c053bb2493%3A0xa952f890654bd16f!2sRTC+Cross+Rd%2C+Himayatnagar%2C+Hyderabad%2C+Telangana!5e0!3m2!1sen!2sin!4v1465986557327" allowfullscreen=""></iframe>
        
      </div>
  </ion-content>
</ion-view>
