<ion-view>
  <ion-content class="no-scroll">
    <div>
      <ion-slides options="data.sliderOptions" slider="data.sliderDelegate" style="height: 180px;">
        <ion-slide-page>
          <div>
            <img src="img/ec4a86464e24bc1301aa394b0e3ad6c8.jpg" width="100%">
          </div>
        </ion-slide-page>
        <ion-slide-page>
          <div>
            <img src="img/00f0639ad129df6402f1e814fbac1b0d.jpg" width="100%">
          </div>
        </ion-slide-page>
        <ion-slide-page>
          <div>
            <img src="img/7760984a7e1d61bbd8c3297af5402407.jpg" width="100%">
          </div>
        </ion-slide-page>
        <ion-slide-page>
          <div>
            <img src="img/7fef5d3ad5de813dd9b27ed11000af53.jpg" width="100%">
          </div>
        </ion-slide-page>
        <ion-slide-page>
          <div>
            <img src="img/5a2a59d822ce96afbc6dd441550e5b72.png" width="100%">
          </div>
        </ion-slide-page>
      </ion-slides>
    </div>
    <div class="landingPagebuttonPosition">
      <button class="button bookButton" ng-click="goToBookNow()">Book Now</button>
    </div>
    <div class="row">
      <div ng-repeat="item in items" ng-click="navigateTo(item.route)" class="col">
        <img ng-src="img/{{item.id}}.jpg" />
      </div>
    </div>

    <div class="slide-wrapper">
      <ion-slide-box active-slide="activeSlide" on-slide-changed="slideChanged(index)" show-pager="false">
        <ion-slide>
          <div>
            <div style="width:50%;float:left ">
              <img src="img/d618fc44adc4ba0c50cab513cf33f721.jpg" width="100%" height="175px">
            </div>
            <div class="divLeftText">
              <h6>COMMERCIAL PEST CONTROL</h6>
              <p>Whatever your industry, pests are bad for business.The team at H Pest Control Services in Hyderabad will act
                quickly and efficiently to eradicate pests from your premises so you can get on with the job.</p>
              <p class="viewmore" ng-click="navigateTo('app.commercialPestControl')">view more</p>
            </div>
          </div>
        </ion-slide>
        <ion-slide>
          <div style="width:50%;float:left ">
            <img src="img/ee97bbb4d91b64bb4bbb00bb961f27aa.jpg" width="100%" height="175px">
          </div>

          <div class="divLeftText">
            <h6>RESIDENTIAL PEST CONTROL</h6>
            <p>You want your home to be safe and comfortable – but not for pests! The team at H Pest Control Services in Hyderabad
              will quickly and efficiently free your home from pests and safe-guard against their return.</p>
            <p class="viewmore" ng-click="navigateTo('app.residentialPestControl')">view more</p>
          </div>
        </ion-slide>
        <ion-slide>
          <div style="width:50%;float:left ">
            <img src="img/715092afb80ec4f84783082fdded51d1.jpg" width="100%" height="175px">
          </div>
          <div class="divLeftText">
            <h6>TERMITE CONTROL</h6>
            <p>You know better than anyone that your home is worth protecting. With 8 years’ experience, H Pest Control Services
              works efficiently in Hyderabad to completely eliminate termites from your property.</p>
            <p class="viewmore" ng-click="navigateTo('app.termites')">view more</p>
          </div>
        </ion-slide>
      </ion-slide-box>
    </div>
    <div class="cutomerinfo">
      <div class="box">
        <i class="fa fa-users icon"></i>
        <p class="number" id="users">11,025</p>
        <p class="msg">Customers</p>
      </div>
      <div class="box">
        <i class="fa fa-map-marker icon"></i>
        <p class="number" id="loc">26</p>
        <p class="msg">Locations</p>
      </div>
      <div class="box">
        <i class="fa fa-user icon"></i>
        <p class="number" id="emp">102</p>
        <p class="msg">Employees</p>
      </div>
    </div>
    <div style="text-align:center;padding-top:20px">
      <h4>TESTIMONIAL</h4>
    </div>
    <ion-slides id="bottomSlider" options="data.slider2Options" slider="data.slider2Delegate" style="height: 200px;">
      <ion-slide-page style="padding:20px">
        <div class="testi">
          <div>
            We really appreciate the pest control services you have provided to us for the past two years. The professionalism shown
            by you and your staff is extremely important in the small business world. I look forward to my next annual Inspection
            this year!
          </div>
        </div>
        <div class="testimonialAuthor">
          - Rajitha
        </div>
      </ion-slide-page>
      <ion-slide-page style="padding:20px">
        <div class="testi">
          <div>
            HPest Control Company did a quick and excellent job ridding us of an infestation and has kept us pest free ever since 2016.
            I would highly recommend their services to anyone or any company that needs it.</div>
        </div>
        <div class="testimonialAuthor">
          - Agarwal
        </div>
      </ion-slide-page>
      <ion-slide-page style="padding:20px">
        <div class="testi">
          <div>
            HPEST team responded quickly to my concerns. The technicians were very courteous, efficient and prompt they got right to
            work and solved my rodent problem. I highly recommend HPEST Control Services and would use them again for any
            future services</div>
        </div>
        <div class="testimonialAuthor">
          - Rishabh Sharma
        </div>
      </ion-slide-page>
      <ion-slide-page style="padding:20px">
        <div class="testi">
          <div>
            Thank you so much for your outstanding service and the follow-up treatments making sure things were okay. Also, I appreciate
            you working around my work schedule to get the job done. I would also use your services again in the future and
            would refer your company to people who could use your service. </div>
        </div>
        <div class="testimonialAuthor">
          - Nikhil
        </div>
      </ion-slide-page>
    </ion-slides>
    <div id="SlideShowContent" class="clientSlider">
      <ul id="lightSlider">
        <li data-thumb="img/0563f2ddb0720f709d719ed345dcc690.png">
          <img src="img/0563f2ddb0720f709d719ed345dcc690.png" />
        </li>
        <li data-thumb="img/975762dc7ab4deeddcf3a9a3d8e6a18e.jpg">
          <img src="img/975762dc7ab4deeddcf3a9a3d8e6a18e.jpg" />
        </li>
        <li data-thumb="img/885110880d8e315a30aaf9fd2fb2eca1.jpg">
          <img src="img/885110880d8e315a30aaf9fd2fb2eca1.jpg" />
        </li>
        <li data-thumb="img/a96359ca8efe05f885ad6fc2e32930ab.jpg">
          <img src="img/a96359ca8efe05f885ad6fc2e32930ab.jpg" />
        </li>
        <li data-thumb="img/b5cbf4e01825f1f9260a11fba3ef725d.jpg">
          <img src="img/b5cbf4e01825f1f9260a11fba3ef725d.jpg" />
        </li>
        <li data-thumb="img/d247665a3613f47acf8382c32f150bd8.png">
          <img src="img/d247665a3613f47acf8382c32f150bd8.png" />
        </li>
        <li data-thumb="img/e7f0df698820b52ce5b737a0b1f49ce1.jpg">
          <img src="img/e7f0df698820b52ce5b737a0b1f49ce1.jpg" />
        </li>
        <li data-thumb="img/ea3e4bf1ad3d1822f37aeb95004a0eb7.jpg">
          <img src="img/ea3e4bf1ad3d1822f37aeb95004a0eb7.jpg" />
        </li>
        <li data-thumb="img/f2a28a1159d9c3c62d74037dac5381c3.jpg">
          <img src="img/f2a28a1159d9c3c62d74037dac5381c3.jpg" />
        </li>
      </ul>
    </div>
    <script type="text/javascript">
      $('#lightSlider').lightSlider({
        item: 3,
        slideMargin: 10,
        loop: true,
        slideMove: 1,
        speed: 100, //ms'
        auto: true
      });

    </script>
  </ion-content>
</ion-view>
