<ion-side-menus enable-menu-with-back-views="false">
  <ion-side-menu-content>
    <ion-nav-bar class="bar-stable">
      <ion-nav-back-button>
      </ion-nav-back-button>
      <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
        </button>
      </ion-nav-buttons>
      <ion-nav-buttons side="right">
        <a href="" class="ion-calendar" style="font-size: 32px;color: white;"  ng-click="navigateTo('app.freeInspection')">
         
        </a>
        <a href=""  onclick="window.open('https://www.facebook.com/hpestcontrolservices/', '_system', 'location=yes');">
          <img src="img/facebook.png" />
          <ion-icon name="logo-facebook"></ion-icon>
        </a>
        <a ng-click="navigateTo('app.contactus')" href="">
          <img src="img/contactus.png" />
        </a>
      </ion-nav-buttons>
    </ion-nav-bar>
    <ion-nav-view name="menuContent"></ion-nav-view>
  </ion-side-menu-content>

  <ion-side-menu side="left" id="sideMenu">
    <ion-header-bar>
      <div class="padding-top-5">
        <button class="button button-icon button-clear" ng-click="closeSideMenu();">
          <img class="menuClose" src="img/Close.PNG" />
        </button>
      </div>
    </ion-header-bar>
    <ion-content has-header="true" overflow-scroll="true">
      <ion-list ng-repeat="menu in menuItems" id="sidenav">
        <ion-item ng-if="menu.isLogo" class="hpestMenuLogo">
          <item>
            <div class="menuHeader">
              <img src="img/logo.png">
            </div>
          </item>
        </ion-item>
        <ion-item ng-if="!menu.isLogo">
          <item>
            <div ng-click="navigateToMenu(menu)" role="menu">{{menu.name}}
              <i ng-class="menu.showSubMenu ? 'fa fa-minus' : 'fa fa-plus'" ng-if="menu.subMenu" aria-hidden="true"></i>
            </div>
          </item>
        </ion-item>
        <div class="submenus">
          <ion-item submenu-item ng-if="menu.showSubMenu" ng-repeat="subMenu in menu.subMenu" ng-class="$last ? 'padding-bottom-10px' :''">
            <item>
              <div ng-click="navigateToMenu(subMenu)" ng-bind="subMenu.name" role="menu"></div>
            </item>
          </ion-item>
        </div>
      </ion-list>
    </ion-content>
  </ion-side-menu>
</ion-side-menus>
